<hr class="line" style="margin-top: 0px; width: 100%;">

<div class="main-container">
    <footer>

        <div style=" display: flex; justify-content: end; ">
            <div style=" display: flex; flex-direction: column">

                <div style="display: flex;">

                    <div style="margin-left: 0; display: flex; align-items: center ;">
                        <img src="/images/onepick-mainlogo.jpg" style="height: 30px;">

                    </div>

                    <div style="display: flex; margin-right: 0; margin-left: 270px;">

                        <div style="color: var(--font_03); margin-left: 30px;">
                            기업소개
                        </div>
                        <div style="color: var(--font_03);margin-left: 30px;">
                            고객센터
                        </div>
                        <div style="color: var(--font_03);margin-left: 30px;">
                            이용약관
                        </div>
                        <div style="color: var(--font_03);margin-left: 30px;">
                            개인정보 처리방침
                        </div>
                    </div>

                </div>
                <hr class=" line" style="width: 100%;">
                <div style="text-align: center;">

                    <p class="footer-text">(주)원픽 (대표이사: 최제인) | 부산시 부산진구 중앙대로 688 | 통신판매번호 : 2020-서울송파-3147</p>
                    <p class="footer-text">유료직업소개사업등록번호 : (국내) 제2020-3230259-14-5-00018호 | 사업자등록번호 : 299-86-00021 |
                        02-539-7118
                    </p>
                    <h4>© Onepicklab, Inc.</h4>

                </div>
            </div>
        </div>
    </footer>
</div>

</html>