{{>/layout/header}}
<form action="/writeResume" method="post" enctype="multipart/form-data">
    <div class="main-container" style="display: flex; flex-direction: column;">
        <div style="margin-left: 50px; margin-right: 50px;">
            <div style="display: flex; flex-direction: row;  margin: 20px; ">
                <div style="margin-right: 20px;">이력서 공개여부</div>
                <input type="radio" id="on" name="open" value="on">
                <label for="on">공개</label>

                <input type="radio" id="off" name="open" value="off" style="margin-left: 50px;">
                <label for="off">비공개</label>
            </div>
            <br>
            <div style="display: flex; flex-direction: row;">
                <div style="display: flex; flex-direction: column;">
                    <img class="box" id="preview"
                        style="width: 20%; height: 200px; width: 200px; margin-bottom: 20px; border-radius: 50%;">

                    </img>
                    <input type="file" name="resumeImg" style="margin-left: 70px;" onchange="changePic(event)">
                </div>
                <div>
                    <div>
                        <div class="box" style="margin-left: 80px;">
                            <div style="display: flex; flex-direction: row; ">
                                <textarea class="input-box" id="myTextarea" rows="1" maxlength="200" name="title"
                                    placeholder="이력서의 제목을 입력해주세요"
                                    style="height: 30px; width: 600px; resize: none; letter-spacing: 0.5px;"
                                    onkeydown="preventEnterKey(event)"></textarea>
                            </div>
                            <hr class="line" style="margin: 0;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <textarea class="input-box" id="myTextarea" rows="4" maxlength="200" name="semiContent"
                                    placeholder="간단한 자기소개글을 입력해주세요."
                                    style="margin:0; width: 600px; height: 120px; resize: none; letter-spacing: 0.5px; line-height: 1.5;"
                                    onkeydown="preventEnterKey(event)"></textarea>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div style="font-weight: bold; font-size: 30px; margin-left: 80px; margin-top: 50px;">Profile</div>
        <hr class="line" style="margin-top: 0px; margin-left: 80px; margin-right: 80px;">
        <br><br>


        <!-- 프로필 안 첫번째 박스 -->
        <div style="display: flex; margin-left: 100px;">

            <!-- 프로필 안 경력박스 -->
            <div style="display: flex; flex-direction: column; margin-left: 0;">
                <div style="display: flex; justify-content:space-between ;  align-items: center;">
                    <div style="font-weight: bold; font-size: 20px;">
                        경력
                    </div>

                    <!--<select class="box" data-bs-toggle="dropdown" style="width: 100px; margin-left: 30px;">
                        <ul>
                            <li>
                                <option value="선택">선택</option>
                            </li>
                            <li>
                                <option value="신입">신입</option>
                            </li>
                            <li>
                                <option value="1~2년">1~2년</option>
                            </li>
                            <li>
                                <option value="3~5년">3~5년</option>
                            </li>
                            <li>
                                <option value="6년이상">6년 이상</option>
                            </li>
                        </ul>
                    </select> -->
                </div>

                <hr class="line" style="border: 10px;">

                <!--원티드박스-->
                <div style="display: flex; flex-direction: column; margin-left: 0; margin-top: 15px;">
                    <div class="box-invisible"
                        style=" display: flex; flex-direction: column; justify-content: space-between;">
                        <div style=" display: flex; flex-direction: row;">
                            <input class="input-box" type="text" placeholder="네이버" name="career1"
                                style="width: 100px; margin-left: 0;">
                            <input type="month" style="border: transparent;" name="careerPeriodS1">
                            <div style="margin-left: 10px; margin-right: 10px; margin-top: 10px"> ~ </div>
                            <input type="month" style="border: transparent;" name="careerPeriodE1">
                        </div>
                    </div>
                    <div class="box-invisible"
                        style=" display: flex; flex-direction: column; justify-content: space-between;">
                        <div style=" display: flex; flex-direction: row;">
                            <input class="input-box" type="text" placeholder="카카오톡" name="career2"
                                style="width: 100px; margin-left: 0;">
                            <input type="month" style="border: transparent;" name="careerPeriodS2">
                            <div style="margin-left: 10px; margin-right: 10px; margin-top: 10px"> ~ </div>
                            <input type="month" style="border: transparent;" name="careerPeriodE2">
                        </div>
                    </div>
                    <div class="box-invisible"
                        style=" display: flex; flex-direction: column; justify-content: space-between;">
                        <div style=" display: flex; flex-direction: row;">
                            <input class="input-smallbox" type="text" placeholder="라쿠배몰두센" name="career3">
                            <input type="month" style="border: transparent;" name="careerPeriodS3">
                            <div style="margin-left: 10px; margin-right: 10px; "> ~ </div>
                            <input type="month" style="border: transparent;" name="careerPeriodE3">
                        </div>
                    </div>
                </div>
            </div>



            <!--수상이력박스-->
            <div class="box-invisible" style="display: flex; flex-direction: column;">
                <div style=" display: flex; justify-content:space-between ;  align-items: center;">
                    <div style="font-weight: bold; font-size: 20px;">
                        수상이력
                    </div>
                </div>
                <hr class="line" style="border: 10px;">

                <div class="box-invisible"
                    style="display: flex; flex-direction: column; margin-left: 0; margin-top: 15px; margin-left: 0;">
                    <div class="box-invisible"
                        style=" display: flex; flex-direction: column; justify-content: space-between;">
                        <div style=" display: flex; flex-direction: row;">
                            <input class="input-smallbox" name="etc1" type="text" placeholder="해커대회 금상"
                                style="width: 200px;">
                            <input type="month" name="etcPeriod1" style="border: transparent;">
                        </div>
                    </div>
                    <div class="box-invisible"
                        style=" display: flex; flex-direction: column; justify-content: space-between;">
                        <div style=" display: flex; flex-direction: row;">
                            <input class="input-smallbox" name="etc2" type="text" placeholder="창업대회 대상"
                                style="width: 200px;">
                            <input type="month" name="etcPeriod2" style="border: transparent;">
                        </div>
                    </div>
                    <div class="box-invisible"
                        style=" display: flex; flex-direction: column; justify-content: space-between;">
                        <div style=" display: flex; flex-direction: row;">
                            <input class="input-smallbox" name="etc3" type="text" placeholder="창업망함"
                                style="width: 200px;">
                            <input type="month" name="etcPeriod3" style="border: transparent;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div style="display: flex; margin-left: 100px;">

            <!-- 프로필 안 학력박스 -->
            <div class="box-invisible" style="display: flex; flex-direction: column; margin-left: 0; margin-right: 0;">
                <div style="display: flex; justify-content:space-between ;  align-items: center;">
                    <div style="font-weight: bold; font-size: 20px;">
                        학력
                    </div>
                </div>
                <hr class="line" style="border: 10px;">
                <!--학력세부내용작성박스 -->

                <div style="display: flex; flex-direction: column; margin-left: 0; margin-top: 15px; margin-left: 0;">
                    <div style=" display: flex; flex-direction: column; justify-content: space-between;">
                        <div style=" display: flex; flex-direction: row; align-items: center;">
                            <input class="input-box" name="school" style="width: 100px;" type="text"
                                placeholder="ㅇㅇ대학교">
                            <input class="input-box" name="major" style="width: 100px;" type="text" placeholder="xx학과">

                            <input type="month" style="border: transparent;" name="education">
                            <select class="box" data-bs-toggle="dropdown" style="width: 150px; margin-left: 30px;">
                                <ul>
                                    <li>
                                        <option value="선택">선택</option>
                                    </li>
                                    <li>
                                        <option value="고졸">고졸</option>
                                    </li>
                                    <li>
                                        <option value="대졸">대졸</option>
                                    </li>
                                    <li>
                                        <option value="대학원졸 이상">대학원졸 이상</option>
                                    </li>

                                </ul>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            <!-- 생년월일-->
            <div class="box-invisible" style="display: flex; flex-direction: column; margin-left: 20px;">
                <div style=" display: flex; justify-content:space-between ;">
                    <div style="font-weight: bold; font-size: 20px;">
                        나이
                    </div>
                </div>
                <hr class="line" style="border: 10px;">

                <div style="display: flex; flex-direction: column; margin-left: 0; margin-top: 15px; margin-left: 0;">
                    <div style=" display: flex; flex-direction: column; justify-content: space-between;">
                        <div class="box-invisible" style=" display: flex; flex-direction: row;">
                            만 작성년도 - user.birth 세
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>


        <!-- 기술 스택-->
        <div class="box-invisible" style="display: flex; flex-direction: column; margin-left: 100px; margin-top: 30px">
            <div style="margin-left: 0; font-weight: bold; font-size: 20px; ">기술스택</div>
            <hr class="line" style="border: 10px;">

            <div class="box-invisible" style=" display: flex;flex-wrap: wrap; flex-direction: row;  width: 1000px;">
                <br>
                {{#techs}}
                <div style=" display: flex; flex-direction: row;">
                    <input type="checkbox" name="tech-resume" value="{{id}}" style="margin-right: 5px;">
                    <div style="margin-right: 15px;">{{techname}}</div>
                </div>
                {{/techs}}
            </div>
        </div>

        <br><br>


        <!-- 자기소개서 -->
        <div style="display: flex; flex-direction: column; margin-top: 30px;">
            <div style="font-weight: bold; font-size: 20px;  margin-left: 100px;">자기소개서</div>

            <textarea id="myTextarea" name="content" class="box" rows="10"
                placeholder="자기를 소개할 수 있는 글을 작성해주세요. ex) 성장과정, 지원동기 등 "
                style="padding: 20px; width: 1000px; margin-top: 20px; margin-bottom: 20px;"></textarea>
        </div>
        <br>


        <!-- 링크 -->
        <div style="display: flex; flex-direction: column; margin-top: 30px; margin-left: 100px;">
            <div style="font-weight: bold; font-size: 20px;"> Github, 포트폴리오 링크</div>
            <hr class="line" style="border: 10px;">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <input type="text" name="link1" style="border: transparent; font-size: 15px;width: 700px;"
                    contenteditable="true" placeholder="link를 입력하세요">
                <input type="text" name="link2" style="border: transparent; font-size: 15px;width: 700px;"
                    contenteditable="true" placeholder="link를 입력하세요">
                <input type="text" name="link3" style="border: transparent; font-size: 15px;width: 700px;"
                    contenteditable="true" placeholder="link를 입력하세요">
            </div>
        </div>
        <br>


        <!-- 작성완료 버튼 -->
        <div style="display: flex; justify-content: center; margin-top: 50px; margin-bottom: 50px;">
            <button class="button" type="submit">작성완료</button>

        </div>
        <input class="input-box" name="workField" value="백엔드"></input>
    </div>
</form>
</div>
<script>
    function changePic(e1) { // 이력서 사진 저장 함수
        // console.log(e1);

        let f = e1.srcElement.files[0];
        // console.log(f);
        if (!f.type.match("image.*")) {
            alert("이미지를 등록해주세요");
            return;
        }

        let reader = new FileReader(); // 버퍼
        reader.onload = function (e2) { // 콜백 함수(내가 실행하는 게 아니라 다른 어떤 이벤트가 끝났을 때 실행되는 함수)
            let previewEl = document.querySelector("#preview");
            previewEl.setAttribute("src", e2.target.result);
        }

        reader.readAsDataURL(f); // 파일 읽기. 이벤트 루프에 등록해놓고 main 빠져나옴(비동기). 다 읽으면 onload()를 실행 ↑
    }

    async function saveTechResume() { // TechResume에 저장하는 함수
        let requestBody = {
            techname: document.querySelector("#techname").value
        };

        console.log(requestBody);

        let response = await fetch("/api/reply/save", { // js오브젝트 타입이므로 {}로 묶음
            method: "post",
            headers: { // post와 put만 body와 content-type을 들고 간다.
                "Content-Type": "application/json"
            },
            body: JSON.stringify(requestBody)
        });

        let responseBody = await response.json();
        console.log(responseBody);

        if (responseBody.success) {
            location.reload(); // ssr
        } else {
            alert(responseBody.data);
        }

    }
</script>
</body>

{{>/layout/footer}}