{{ > /layout/header}}
<div class="main-container">
    <div class="box" style="width: 700px; margin-top: 80px; margin-bottom: 50px;">
        <div style="text-align: center; margin-top: 50px;">
            <h2>당신의 픽 OnePick</h2>
            <h2>환영해요. 기업담당자님</h2>
        </div>
        <form id="bizlogin-form" action="/bizUserJoin" method="post">
            <div class="body-container">
                <div style="margin-left: 50px; margin-right: 100px;">
                    <br>
                    <h4>계정 관리</h4>
                    <div style="color: #7F7F7F;">서비스에서 사용하는 내 계정 정보를 관리할 수 있습니다.</div>
                    <br>
                    <div class="body-text">
                        <div class="body-head">
                            ID
                        </div>
                        <div class="body-main">
                            <input class="input-box" contenteditable="true" placeholder="baronjae" name="loginId">
                            </input>
                        </div>
                    </div>
                    <hr class="line" style="margin-top: 0px;">
                    <div class="body-text">
                        <div class="body-head">
                            비밀번호
                        </div>
                        <div class="body-main">
                            <input class="input-box" contenteditable="true" placeholder="1234" name="password">
                            </input>
                        </div>
                    </div>
                    <hr class="line" style="margin-top: 0px;">
                    <div class="body-text">
                        <div class="body-head">
                            비밀번호확인
                        </div>
                        <div class="body-main">
                            <input class="input-box" contenteditable="true" placeholder="1234">
                            </input>
                        </div>
                    </div>

                    <hr class="line" style="margin-top: 0px;">
                    <div class="body-text">
                        <div class="body-head">
                            기업명
                        </div>
                        <div class="body-main">
                            <input class="input-box" contenteditable="true" placeholder="그린" name="bizname">
                            </input>
                        </div>
                    </div>
                    <hr class="line" style="margin-top: 0px;">
                    <div class="body-text">
                        <div class="body-head">
                            담당자 이름
                        </div>
                        <div class="body-main">
                            <input class="input-box" contenteditable="true" placeholder="진성훈" name="username">
                            </input>
                        </div>
                    </div>
                    <hr class="line" style="margin-top: 0px;">
                    <div class="body-text">
                        <div class="body-head">
                            담당자 이메일
                        </div>
                        <div class="body-main">
                            <input class="input-box" contenteditable="true" placeholder="이메일" name="email">
                            </input>
                        </div>
                    </div>
                    <hr class="line" style="margin-top: 0px;">
                    <div class="body-text">
                        <div class="body-head">
                            담당자 연락처
                        </div>
                        <div class="body-main">
                            <input class="input-box" contenteditable="true" placeholder="01094719693" name="tel">
                            </input>
                        </div>
                    </div>
                    <input type="hidden" name="usercode" value="2"></input>
                    <input type="hidden" name="picUrl" value="/images/default_img.png"></input>
                    <hr class="line" style="margin-top: 0px;">
                </div>
                <br>
                <br>
                <div style="display: flex; justify-content: center;">
                    <button type="submit" class="button">회원가입하기</button>
                </div>

            </div>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>


    </div>

</div>



</div>
</body>
{{ > /layout/footer}}

<!-- 여기까지만 작성할것-->