{{>/layout/header}}
<div class="main-container" style="display: flex;">

    <!--왼쪽 1번째박스-->
    <div class="left-container" style="margin-right: 50px;">

        <div class="box" style="width: 200px; margin-top: 20px; text-align: center; ">
            <div class="box" style="align-content:  center;">

                <div>
                    <img src="/upload/{{userInfo.picUrl}}" style="border-radius: 50%; width: 150px; height: 150px;">
                </div>
                <div style="margin-top: 20px;">
                    <div style="text-align: center; border: none; font-weight: bold; width: 150px;">
                        {{userInfo.bizname}}
                    </div>
                </div>
                <div style=" margin-top: 20px; color: var(--font_02);">
                </div>
                <div style="border: none; width: 150px;">
                    {{userInfo.username}}
                </div>
                <div style=" margin-top: 20px; color: var(--font_02);">
                </div>
                <div style="border: none; width: 150px;">
                    {{userInfo.email}}
                </div>

                <div style=" margin-top: 10px; color: var(--font_02)">
                </div>
                <div style="border: none; width: 150px;">
                    {{userInfo.tel}}
                </div>

                <br>
            </div>

            <hr class="line">

            <div>
                <div style="display: flex; justify-content: space-around; margin-top: 40px;">
                    <div>지원현황</div>
                    <div>
                        <!-- apply_tb에서 카운트 -->
                        10
                    </div>
                </div>
                <div style="display: flex; justify-content: space-around;margin-top: 30px;">

                    <div>관심이력서보기</div>
                    <div>
                        <!-- like_tb에서 카운트 -->
                        2
                    </div>

                </div>
                <div style="display: flex; justify-content: space-around;margin-top: 30px; margin-bottom: 30px;">
                    <div>받은제안</div>
                    <div>
                        <!-- ??????_tb에서 카운트 -->
                        5
                    </div>
                </div>
            </div>

            <hr class="line">

            <div style="margin-top: 30px;margin-bottom: 30px;">공고현황관리</div>

            <hr class="line">

            <div style="margin-top: 30px; margin-bottom: 30px;">
                <a href="/fixBizProfileForm">회원정보수정</a>
            </div>

        </div>
    </div>

    <div class="right-container">

        <!--오른쪽 1번째박스-->
        <div style="margin-top: 45px; width: 850px; height: 150px; display: flex; justify-content: space-around">
            <div class="box" style="width: 150px; height: 120px;">
                <div
                    style="text-align: center; margin-top: 25px; font-weight: bold; border-right: 5px; border-color: black;">
                    0
                </div>
                <div style="text-align: center;  margin-top: 15px; color: var(--font_01); ">
                    지원완료
                </div>
            </div>

            <div class="box" style="width: 150px; height: 120px; border-right: 5px; border-color: black;">
                <div style="text-align: center; margin-top: 25px; font-weight: bold;">
                    0
                </div>
                <div style="text-align: center;  margin-top: 15px; ;color: var(--font_01);">
                    서류전형통과
                </div>
            </div>

            <div class="box" style="width: 150px; height: 120px;">
                <div style="text-align: center; margin-top: 25px; font-weight: bold;">
                    0
                </div>
                <div style="text-align: center;  margin-top: 15px; ;color: var(--font_01);">
                    최종합격
                </div>
            </div>

            <div class="box" style="width: 150px; height: 120px;">
                <div style="text-align: center; margin-top: 25px; font-weight: bold;">
                    0
                </div>
                <div style="text-align: center;  margin-top: 15px; color: var(--font_01);">
                    불합격
                </div>
            </div>
            </form>



        </div>

        <!--오른쪽 2번째박스-->
        <div class="box">
            <!--내부박스-->
            <div class="grid-box" style="margin-top: 20px; width: 850px; display: grid;  gap: 15; margin-bottom: 20px;"
                id="notice-box">
            </div>
        </div>
    </div>
</div>
</body>
<script>
    render();

    async function render() {
        let responseBody = await download();
        responseBody.forEach((notice) => {
            $("#notice-box").append(noticeBox(notice));
        });
    }

    function noticeBox(notice) {


        return `<div class="card" onclick="location.href="/notice">
                <img class="card-img-top" style="height:120px; width:130" src="${notice.userImg}" alt="Card image" >
                <div class="card-body">
                    <h5 class="card-title">${notice.bizName}</h4>
                        <p class="card-text">${notice.workField}</p>
                        <p class="card-text">${notice.address} ${notice.address2}</p>
                </div>
            </div>`;
    }
    async function download() {
        let response = await fetch("api/searchNotice");
        let responseBody = await response.json();

        return responseBody;
    }

</script>

{{>/layout/footer}}