{{>/layout/header}}
<div class="main-container" style="display: flex;">
    <!--왼쪽 1번째박스-->
    <div class="left-container" style="margin-right: 50px;">

        <div class="box" style="width: 200px; margin-top: 20px; text-align: center; ">
            <div class="box" style="align-content:  center;">

                <div>
                    <img src="/upload/{{userInfo.picUrl}}" style="border-radius: 50%; width: 150px; height: 150px;">
                    <input hidden name="pic" style="margin-left: 70px;" onchange="changePic(event)" />
                </div>
                <div style="margin-top: 20px;">
                </div>
                <div name="username" value="{{userInfo.username}}" readonly type="text"
                    style="text-align: center; border: none; font-weight: bold; width: 150px; ">
                </div>
                <div style="margin-top: 20px; color: var(--font_02);"></div>
                <input name="email" value="{{userInfo.email}}" readonly style="border: none; width: 150px;"></input>
                <div style="margin-top: 10px; color: var(--font_02)"></div>
                <input name="tel" value="{{userInfo.tel}}" readonly style="border: none; width: 150px;">
                <br>
            </div>

            <hr class="line">

            <div>
                <div style="display: flex; justify-content: space-around; margin-top: 40px;">
                    <div>지원현황</div>
                    <div>
                        <!-- apply_tb에서 카운트 -->
                        10
                    </div>


                    <div style="text-align: center; border: none; font-weight: bold; width: 150px;">
                        {{userInfo.username}}
                    </div>

                    <div style="margin-top: 20px; color: var(--font_02);"></div>
                    <div style="border: none; width: 150px;">
                        {{userInfo.email}}
                    </div>

                    <div style="margin-top: 10px; color: var(--font_02)"></div>
                    <div style="border: none; width: 150px;">
                        {{userInfo.tel}}
                    </div>

                    <br>

                </div>
                <div style="display: flex; justify-content: space-around;margin-top: 30px;">

                    <div>관심있음</div>
                    <div>
                        <!-- like_tb에서 카운트 -->
                        2
                    </div>

                </div>
                <div style="display: flex; justify-content: space-around;margin-top: 30px; margin-bottom: 30px;">
                    <div>받은제안</div>
                    <div>
                        <!-- ??????_tb에서 카운트 -->
                        5
                    </div>
                </div>
            </div>

            <hr class="line">


            <div style="margin-top: 30px;margin-bottom: 30px;">
                {{#resumeList}}
                <a href="/viewResumeForm/{{id}}">이력서관리</a>
                {{/resumeList}}
            </div>


            <hr class="line">

            <div style="margin-top: 30px; margin-bottom: 30px;">
                <a href="/fixUserProfileForm">회원정보수정</a>
            </div>


        </div>

        <hr class="line">

        <div style="margin-top: 30px; margin-bottom: 30px;">
            <a href="/writeResumeForm">이력서 작성</a>
        </div>

    </div>



    <div class="right-container">

        <!--오른쪽 1번째박스-->
        <div style="margin-top: 65px; width: 850px; height: 150px; display: flex; justify-content: space-around">
            <div class="box" style="width: 150px; height: 120px;">
                <div
                    style="text-align: center; margin-top: 15px; font-weight: bold; border-right: 5px; border-color: black;">
                    0
                </div>
                <div style="text-align: center;  margin-top: 15px; color: var(--font_01); ">
                    지원완료
                </div>
            </div>

            <div class="box" style="width: 150px; height: 120px; border-right: 5px; border-color: black;">
                <div style="text-align: center; margin-top: 15px; font-weight: bold;">
                    0
                </div>
                <div style="text-align: center;  margin-top: 15px; ;color: var(--font_01);">
                    서류전형통과
                </div>
            </div>

            <div class="box" style="width: 150px; height: 120px;">
                <div style="text-align: center; margin-top: 15px; font-weight: bold;">
                    0
                </div>
                <div style="text-align: center;  margin-top: 15px; ;color: var(--font_01);">
                    최종합격
                </div>
            </div>

            <div class="box" style="width: 150px; height: 120px;">
                <div style="text-align: center; margin-top: 15px; font-weight: bold;">
                    0
                </div>
                <div style="text-align: center;  margin-top: 15px; ;color: var(--font_01);">
                    불합격
                </div>
            </div>




        </div>

        <!--오른쪽 2번째박스-->
        <div class="box"
            style="margin-top: 20px; width: 850px; display: grid; grid-template-columns: repeat(3,1fr); gap: 15; margin-bottom: 20px;">


            <!--내부박스-->
            <div style="width: 230px; height: 280px; margin-top: 15px; margin-bottom: 15px;">

                <!--사진창-->
                <div style="align-content: center;">
                    <img src="/images/공고사진.png" style="border-radius: 15px; width: 240px;">
                </div>

                <!--공고명 / 하트표시-->
                <div style="display: flex; justify-content: space-between;">
                    <div style=" margin : 10px; font-weight: bold; font-size: 22px;">notice_tb - title</div>
                    <div style="margin-right: 0;">ㅁ</div>
                </div>

                <!--채용포지션-->
                <div style="color: var(--font_01);margin : 10px; font-size: 18px;">채용포지션</div>

                <!--회사명-->
                <div style="color: var(--font_03); margin : 10px;font-size: 15px;">회사명</div>

                <!--채용지역-->
                <div style="color: var(--font_03);  margin : 10px; font-size: 15px;">채용지역</div>

            </div>

            <!--내부박스-->
            <div style="width: 230px; height: 280px; margin-top: 15px; margin-bottom: 15px;">

                <!--사진창-->
                <div style="align-content: center;">
                    <img src="/images/공고사진.png" style="border-radius: 15px; width: 240px;">
                </div>

                <!--공고명 / 하트표시-->
                <div style="display: flex; justify-content: space-between;">
                    <div style=" margin : 10px; font-weight: bold; font-size: 22px;">notice_tb - title</div>
                    <div style="margin-right: 0;">ㅁ</div>
                </div>

                <!--채용포지션-->
                <div style="color: var(--font_01);margin : 10px; font-size: 18px;">채용포지션</div>

                <!--회사명-->
                <div style="color: var(--font_03); margin : 10px;font-size: 15px;">회사명</div>

                <!--채용지역-->
                <div style="color: var(--font_03);  margin : 10px; font-size: 15px;">채용지역</div>

            </div>
        </div>

    </div>

</div>
</body>


{{>/layout/footer}}